<div class="jumbotron">
  <h1 class="display-4">Silicon Valley Conference</h1>
  <p class="lead">
    Please sign up to join us OR Check the stats
  </p>
  <hr class="my-4" />
  <p class="lead">
    <a href="/signup" class="btn btn-primary btn-lg">Sign up</a>
    <a href="/analytics" class="btn btn-primary btn-lg">Analytics</a>
  </p>
</div>